# Limpieza de base de datos

In [34]:
import pandas as pd
import numpy as np

In [1]:
allbases = pd.read_excel(r'Base de datos1.xlsx',sheet_name=None)
base2 = pd.read_csv(r'Base de datos2.csv')
base3 = pd.read_csv(r'Base de datos3.csv')
base4 = pd.read_csv(r'Base de datos4.csv')

In [6]:
len(allbases.keys())
allbases.keys()

11

In [4]:
base_gob_abierto= allbases['Gobierno Abierto']
base_publico_DA=allbases['Publico Datos Abiertos']
base_jov_univ=allbases['Jóvenes universitarios']
base_univ=allbases['Universidades']
base_red_fed=allbases['Red Federal']
base_est_nac=allbases['Estado Nacional']
base_legislatura=allbases['Legislatura']
base_BID=allbases['BID']
base_insc_encuentros=allbases['Inscriptos a encuentros']
base_ssgoarcu=allbases['SSGOARCU']
base_internacionales=allbases['Internacionales']

In [5]:
print(base_gob_abierto.columns)
print(base_publico_DA.columns)
print(base_jov_univ.columns)
print(base_univ.columns)
print(base_red_fed.columns)
print(base_est_nac.columns)
print(base_legislatura.columns)
print(base_BID.columns)
print(base_insc_encuentros.columns)
print(base_ssgoarcu.columns)
print(base_internacionales.columns)

Index(['Apellido', 'Nombre', 'Contacto', 'Contacto 2', 'Organismo', 'ca',
       'TAGS', 'TAGS.1'],
      dtype='object')
Index(['Apellido', 'Nombre', 'Correo Electrónico'], dtype='object')
Index(['Apellido', 'Nombre', 'Correo electrónico', 'Carrera de grado ',
       'Estudio de posgrado (Universidad)', 'Lug.nacim', 'Distrito',
       'Ciudad de residencia', 'Nac', 'Edad, hoy', 'Link',
       '¿En qué sector te desempeñás?', 'Empleo (puesto+institución)',
       '¿Participás en otras instituciones? ¿En cuáles? ¿Qué rol?',
       'En dos líneas ¿qué valor agregado le aportarías al Grupo y al CARI?',
       '¿Sos miembro del CARI?', '¿Cómo supiste de esta convocatoria?',
       'En caso negativo ¿te interesaría adherirte y participar en algún espacio?',
       'En caso afirmativo ¿participás en algún espacio del Consejo?',
       'En una palabra ¿cuál dirías que es tu profesión?',
       '¿Querés contarnos algo más sobre vos?', 'COMO LLEGO AL CARI', 'DNI',
       'CELULAR'],
      dtype='object')
Index(['Apellido', 'Nombre', 'Provincia', 'Ciudad/Municipio', 'Cargo',
       'Contacto 1', 'Contacto 2'],
      dtype='object')
Index(['Apellido', 'Nombre', 'Provincia', 'Ciudad/Municipio', 'Cargo',
       'Contacto 1', 'Contacto 2'],
      dtype='object')

## Primer filtrado: Elimino aquellas filas que no tengan ni contacto 1 ni 2

In [ ]:
base_gob_abierto = base_gob_abierto.dropna(subset=['Contacto','Contacto 2'],how='all')
base_publico_DA = base_publico_DA.dropna(subset=['Correo Electrónico'],how='all')
base_jov_univ = base_jov_univ.dropna(subset=['Correo electrónico'],how='all')
base_univ = base_univ.dropna(subset=['Contacto 1','Contacto 2'],how='all')

base_red_fed = base_red_fed.dropna(subset=['Contacto 1','Contacto 2'],how='all')

In [9]:
base_est_nac = base_est_nac.dropna(subset=['Contacto 1','Contacto 2'],how='all')
base_legislatura = base_legislatura.dropna(subset=['e-mail'],how='all')
base_BID = base_BID.dropna(subset=['Contacto','Contacto 2'],how='all')
base_insc_encuentros = base_insc_encuentros.dropna(subset=['Contacto','Contacto 2'],how='all')
base_ssgoarcu= base_ssgoarcu.dropna(subset=['Contacto','Contacto 2'],how='all')
base_internacionales = base_internacionales.dropna(subset=['Contacto 1','Contacto 2'],how='all')

## Filtrado 2: Me quedo solo con las filas de apellido, nombre, contacto 1 y 2

In [10]:
base_gob_abierto=base_gob_abierto[['Apellido', 'Nombre', 'Contacto', 'Contacto 2']]
base_publico_DA=base_publico_DA[['Apellido', 'Nombre', 'Correo Electrónico']]
base_jov_univ=base_jov_univ[['Apellido', 'Nombre', 'Correo electrónico']]
base_univ=base_univ[['Apellido', 'Nombre','Contacto 1', 'Contacto 2']]
base_red_fed=base_red_fed[['Apellido', 'Nombre','Contacto 1', 'Contacto 2']]
base_est_nac=base_est_nac[['Apellido', 'Nombre', 'Contacto 1', 'Contacto 2']]
base_legislatura=base_legislatura[['Apellido', 'Nombre', 'e-mail']]
base_BID=base_BID[['Apellido', 'Nombre', 'Contacto', 'Contacto 2']]
base_insc_encuentros=base_insc_encuentros[['Apellido', 'Nombre', 'Contacto', 'Contacto 2']]
base_ssgoarcu=base_ssgoarcu[['Apellido', 'Nombre', 'Contacto', 'Contacto 2']]
base_internacionales=base_internacionales[['Apellido', 'Nombre', 'Contacto 1','Contacto 2']]

## Creo los tags para cada dataset

In [11]:
base_gob_abierto['Tag']='Gobierno abierto'
base_publico_DA['Tag'] = 'Público datos abiertos'
base_jov_univ['Tag'] = 'Jóvenes universitarios'
base_univ['Tag'] = 'Universidades'
base_red_fed['Tag'] = 'Red federal'
base_est_nac['Tag'] = 'Estado nacional'
base_legislatura['Tag'] = 'Legislatura'1535DAWO
base_BID['Tag'] = 'BID'
base_insc_encuentros['Tag'] = 'Inscriptos a encuentros'
base_ssgoarcu['Tag'] = 'SSGOARCU'
base_internacionales['Tag'] = 'Internacionales'

## Unifico los nombres de las columnas

In [12]:
base_gob_abierto.columns=['Apellido', 'Nombre', 'Contacto', 'Contacto 2','Tag']
base_publico_DA.columns=['Apellido', 'Nombre', 'Contacto','Tag']
base_univ.columns=['Apellido', 'Nombre','Contacto', 'Contacto 2','Tag']
base_jov_univ.columns=['Apellido', 'Nombre', 'Contacto','Tag']
base_red_fed.columns = ['Apellido', 'Nombre','Contacto', 'Contacto 2','Tag']
base_est_nac.columns=['Apellido', 'Nombre', 'Contacto', 'Contacto 2','Tag']
base_legislatura.columns=['Apellido', 'Nombre', 'Contacto','Tag']
base_BID.columns = ['Apellido', 'Nombre', 'Contacto', 'Contacto 2','Tag']
base_insc_encuentros.columns = ['Apellido', 'Nombre', 'Contacto', 'Contacto 2','Tag']
base_ssgoarcu.columns = ['Apellido', 'Nombre', 'Contacto', 'Contacto 2','Tag']
base_internacionales.columns = ['Apellido', 'Nombre', 'Contacto','Contacto 2','Tag']

## Concanteno los datasets ahora que tienen columnas en mismo orden y con el mismo nombre

In [13]:
base1= pd.concat([base_gob_abierto,
          base_publico_DA,
          base_jov_univ,base_univ,
          base_red_fed,
          base_est_nac,
          base_legislatura,
          base_BID,
          base_insc_encuentros,
          base_ssgoarcu,
          base_internacionales],join='outer',axis=0)

## Agarro las bases de mailchimp antiguas y lo concateno al nuevo dataset

In [14]:
base2= base2[['Dirección de email', 'Nombre', 'Apellido','TAGS']]
base3= base3[['Dirección de email', 'Nombre', 'Apellido','TAGS']]
base4= base4[['Dirección de email', 'Nombre', 'Apellido','TAGS']]

base2.columns = ['Contacto', 'Nombre', 'Apellido', 'Tag']
base3.columns = ['Contacto', 'Nombre', 'Apellido', 'Tag']
base4.columns = ['Contacto', 'Nombre', 'Apellido', 'Tag']

## Base consolidada:

In [15]:
bases = pd.concat([base1,base2,base3,base4],axis=0)
bases

,Apellido,Nombre,Contacto,Contacto 2,Tag
0,Acebal,Victoria,vacebal@buenosaires.gob.ar,NaN,Gobierno abierto
1,Acevedo Ruiz,Manuel,manuel@manuelacevedo.net,NaN,Gobierno abierto
2,Acion,Laura,lacion@fundacionsadosky.org.ar,NaN,Gobierno abierto
3,Acosta,Julio Alberto,jaacosta@gmail.com,jaacosta1964@gmail.com,Gobierno abierto
4,Acuña,Hugo,teomac31@yahoo.com.ar,NaN,Gobierno abierto
...,...,...,...,...,...
11,Goldstein,Patricio,patriciogoldstein1@gmail.com,NaN,"""Estudiantes universitarios"""
12,Grané,Patricio,patricio.grane@gmail.com,NaN,"""Estudiantes universitarios"""
13,NaN,NaN,reciclandohogares@hpha.org.ar,NaN,"""OSC"""
14,Ruiz Martinez,Victoria,victoriaruizma@gmail.com,NaN,"""Estudiantes universitarios"""
15,ABADIE,LUCILLE,lucilleabadie@gmail.com,NaN,"""Estudiantes universitarios"""

## De la base consolidada, elimino los duplicados que tienen el mismo nombre, apellido y mail (puede haber duplicados de misma persona con diferente mailO)

In [16]:
bases[bases.duplicated(['Apellido','Nombre','Contacto'],keep=False)]

,Apellido,Nombre,Contacto,Contacto 2,Tag
0,Acebal,Victoria,vacebal@buenosaires.gob.ar,NaN,Gobierno abierto
2,Acion,Laura,lacion@fundacionsadosky.org.ar,NaN,Gobierno abierto
6,Adan,Graciela,graadan@gmail.com,NaN,Gobierno abierto
8,Agüero,Sandra,dimensiongeneroucpe@gmail.com,shaguero2003@yahoo.com.ar,Gobierno abierto
10,Agunin,Julieta,fundacion@irsa.org.ar,NaN,Gobierno abierto
...,...,...,...,...,...
3,Rojas,Alfredo,rojas.ag@gmail.com,NaN,"""Semana de Gobierno Abierto"",""-"""
8,Molina,Anabella,anabella.anilom@gmail.com,NaN,"""Academia"",""Semana de Gobierno Abierto"""
9,Gregori,Alejandro,alejandrogregori@gmail.com,NaN,"""Ejecutivo"""
11,Goldstein,Patricio,patriciogoldstein1@gmail.com,NaN,"""Estudiantes universitarios"""
12,Grané,Patricio,patricio.grane@gmail.com,NaN,"""Estudiantes universitarios"""

## Elimino duplicados de apellido, nombre y contacto

In [17]:
bases_clean = bases.drop_duplicates(subset=['Apellido','Nombre','Contacto'],keep='first')
bases_clean.shape

(4006, 5)

### Elimino filas con contactos nulos

In [19]:
bases_clean = bases_clean.dropna(subset=['Contacto'],axis=0)

Hay gente sin nombre ni apellido > eliminar? <br>
Hay gente que en contacto tiene un nro de tel > hago regex con mails y elimino las filas

In [20]:
bases_clean = bases_clean.reset_index(drop= True)

In [21]:
bases_clean.Contacto = bases_clean.Contacto.apply(lambda x: str(x).replace(' ',''))

In [22]:
import re
pattern = '(^[ a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-. ]+)[^a-zA-Z0-9-. ]?$'
regex = re.compile(pattern)
bases_clean['isemail'] = bases_clean.Contacto.str.match(regex)

In [23]:
bases_final = bases_clean[bases_clean.isemail == True]
bases_final['Contacto'] = bases_final.Contacto.apply(lambda x: x.lower())
# bases_clean.iloc[2419]
bases_final

C:\Users\Agust\miniconda3\envs\dhdsblend\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Apellido,Nombre,Contacto,Contacto 2,Tag,isemail
0,Acebal,Victoria,vacebal@buenosaires.gob.ar,NaN,Gobierno abierto,True
1,Acevedo Ruiz,Manuel,manuel@manuelacevedo.net,NaN,Gobierno abierto,True
2,Acion,Laura,lacion@fundacionsadosky.org.ar,NaN,Gobierno abierto,True
3,Acosta,Julio Alberto,jaacosta@gmail.com,jaacosta1964@gmail.com,Gobierno abierto,True
4,Acuña,Hugo,teomac31@yahoo.com.ar,NaN,Gobierno abierto,True
...,...,...,...,...,...,...
3987,NaN,NaN,asosa@hpha.org.ar,NaN,"""OSC""",True
3988,NaN,NaN,cecilia.suarez@techo.org,NaN,"""OSC""",True
3989,NaN,NaN,reciclandohogares@hpha.org.ar,NaN,"""OSC""",True
3990,Ruiz Martinez,Victoria,victoriaruizma@gmail.com,NaN,"""Estudiantes universitarios""",True
3991,ABADIE,LUCILLE,lucilleabadie@gmail.com,NaN,"""Estudiantes universitarios""",True

## Elimino filas que no tengan el nombre o el apellido

In [24]:
base_final = bases_final.dropna(subset=['Nombre','Apellido'],axis=0,how='any')
base_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3341 entries, 0 to 3991
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Apellido    3341 non-null   object
 1   Nombre      3341 non-null   object
 2   Contacto    3341 non-null   object
 3   Contacto 2  235 non-null    object
 4   Tag         3338 non-null   object
 5   isemail     3341 non-null   bool
dtypes: bool(1), object(5)
memory usage: 159.9+ KB

## Elimino duplicados de nombre, apellido contacto

In [26]:
base_final= base_final.drop_duplicates(['Nombre','Apellido','Contacto'])

In [27]:
# base_final = base_final.drop(labels='index',axis=1)
base_final.Apellido=base_final.Apellido.apply(lambda x: x.title())
base_final.Nombre=base_final.Nombre.apply(lambda x: x.title())

## Creo el excel con la base final

In [28]:
base_final.to_excel('Base_Newsletter.xlsx',index=False)

In [29]:
base_final.shape

(3295, 6)

In [40]:
base_final[base_final.Tag.isnull()]

,Apellido,Nombre,Contacto,Contacto 2,Tag,isemail
3410,Costilla,María Inés,mariainescostila@yahoo.com.ar,NaN,NaN,True
3468,Casaretto,Ezequiel,ezequiel.casaretto.gcaba@gmail.com,NaN,NaN,True
3980,Belver,Violeta,violeta.belver@gmail.com,NaN,NaN,True

In [41]:
base_final.tail(3)

,Apellido,Nombre,Contacto,Contacto 2,Tag,isemail
3984,Portabales,Maria,mcportabales@gmail.com,NaN,"""Semana de Gobierno Abierto"",""OSC""",True
3986,Medina,Diana,dianamedinaglez@gmail.com,NaN,"""Semana de Gobierno Abierto"",""Academia""",True
3990,Ruiz Martinez,Victoria,victoriaruizma@gmail.com,NaN,"""Estudiantes universitarios""",True